/*
Name: Kai Yu Man
StudentID: 162280218
SenecaEmail: kman2@myseneca.ca
Date: Feb 5, 2023
Description: Assignment 2
Course: WEB322
Professor: Ms. Jenelle Chen
*/

.center {  /* self note:  . is for "class" in html */
    text-align: center;
}

.right {
    justify-content: right;
}

form {     
    margin: auto;  /* margin auto + width 50% would center the "form" */
    max-width: 450px; 
    padding: 30px;
    background-color: dodgerblue;
    border-radius: 20px;
}  

.formElement {
    margin: auto;
    color: white;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    background-color: DodgerBlue;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px;
}

h1 {
    font-family: 'Exo 2', sans-serif;
}

td {
    margin: auto;  /* margin auto + width 50% would center the "form" */
    width: 60%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.navBar {
    padding: 10px 10px;
    background-color: rgb(169, 232, 252);
    overflow: hidden;
}

.navBar a {
    color: rgb(0,0,0);
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.navBar a:hover {
    background-color: rgb(255, 136, 0);
    color: rgb(255, 255, 255);
}

.button {
    background-color: dodgerblue;
    border: none;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    padding: 8px 24px;
    border-radius: 15px;
}

.button:hover {
    background-color: rgb(255, 136, 0);
    color: white;
}
